.vscode/**
.vscode-test/**
test/**
src/**
bin/**
icons/*.xcf
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/[jt]sconfig.json
**/*.map
**/.eslintrc.json
*~
*.orig
**/monkeyc-optimizer/build/src/**/*.d.ts
**/prettier-plugin-monkeyc/build/*.d.ts
monkeyc-projects.code-workspace
out*
# node_modules/prettier
